// baseline
$bl : 8pt;


body {
  background-color: #e51937;
  width: 800px;
  margin: 0 auto;
  padding: $bl*2;
  font-family: "Helvetica"; }

.results, .loading {
  display: none; }

.name {
  font-size: $bl*4; }

.main {
  background-color: white;
  border-radius: 16pt;
  padding: 16pt;
  overflow: hidden;
  span {
    text-align: center; }
}

.index {
  text-align: center;
  input {
    display: none;
    font-size: 24pt;
    margin: 0 auto; }
  button {
    display: block;
    font-size: 20pt;
    background-color: #e51937;
    border-radius: 8pt;
    padding: 8pt 14pt;
    color: white;
    border: 0;
    cursor: pointer;
    margin: 0 auto;
    &:hover {
      background-color: red;
  }
}
}

.img-cont {
  float: right;
  margin: 10pt 0 0 10pt;
  width: 30%;
  img {
    width: 100%; }
}

footer {
  color: white;
}
