// baseline
$bl : 8pt;


body {
  background-color: #e51937;
  width: 800px;
  margin: 0 auto;
  padding: $bl*2;
  font-family: "Helvetica";
}

.results, .loading {
  display: none;
}

.main {
  background-color: white;
  border-radius: 16pt;
  padding: $bl*2;
  overflow: hidden;
  box-shadow: 0 0 5px #B8142D;
  span {
    text-align: center; }
}

.index {
  text-align: center;
  input {
    display: none;
    font-size: $bl*3;
    margin: 0 auto; }
  button {
    display: block;
    font-size: $bl*3;
    background-color: #e51937;
    border-radius: $bl;
    padding: $bl $bl*2;
    color: white;
    border: 0;
    cursor: pointer;
    margin: 0 auto;
    &:hover {
          background-color: red;
      }
    }
    
    h1 {
        margin: 0;
        font-size: $bl*4;
    }
    p.subheading {
        font-size: $bl*2;
        width: 70%;
        margin: $bl*2 auto;
    }
    
    p.manual-note {
        font-size: $bl;
        margin: $bl*2 0 0 0;
    }

}

.card {
    background: white;
    padding: $bl;
    width: 80%;
    margin: 0 auto;
    
    .meetup-details {
        .name {
            text-align: center;
            font-size: $bl*4;
            color: black;
            text-decoration: none;
            display: block;
            width: 80%;
            margin: 0 auto;
            padding-bottom: $bl;
            margin-bottom: $bl;
            border-bottom: 1px solid #DDD;
            
            &:hover {
                text-decoration: underline;
            }
        }
        .img-cont {
//          float: right;
//          margin: $bl 0 0 $bl;
//          width: 30%;
          img {
            height: $bl*20; }
            text-align: center;
        }
        
    }
}



footer {
  color: white;
  font-size: $bl;
  margin-top: $bl;
  a {
      color: white;
  }
}
